[sources.vector_logs]
type = "vector"
address = "0.0.0.0:6000"

[transforms.parse_logs]
type = "remap"
inputs = ["vector_logs"]
source = '''
.message = string!(.message)
.timestamp = now()
.host = get_env_var!("HOSTNAME") ?? "unknown-host"
.log_type = "nginx"
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["parse_logs"]
endpoint = "http://{{ hostvars['vector-02'].ansible_host }}:8123"
database = "logs"
table = "vector_logs"
compression = "gzip"
healthcheck = true
batch.max_bytes = 10485760
encoding.codec = "json"