[sources.ssh_logs]
type = "vector"
mode = "ssh"
address = "{{ ansible_user }}@{{ lighthouse_host }}"
command = "vector --config /etc/vector/vector_remote.toml"
ssh_key_path = "/home/{{ ansible_user }}/.ssh/vector_key"
ssh_known_hosts = false

[sources.remote_logs]
type = "socket"
address = "127.0.0.1:6000"

[transforms.parse_logs]
type = "remap"
inputs = ["remote_logs"]
source = '''
. = parse_json!(string!(.message))
'''

[sinks.clickhouse]
type = "clickhouse"
inputs = ["parse_logs"]
endpoint = "http://localhost:8123"
database = "logs"
table = "vector_logs"
compression = "gzip"
healthcheck = true
batch.max_bytes = 10485760

