[sources.nginx_logs]
type = "file"
include = ["/var/log/nginx/access.log", "/var/log/nginx/error.log"]
read_from = "beginning"

[sources.lighthouse_logs]
type = "file"
include = ["/var/log/lighthouse/lighthouse.log"]
read_from = "beginning"

[transforms.parse_logs]
type = "remap"
inputs = ["nginx_logs", "lighthouse_logs"]
source = '''
. = parse_json!(string!(.message))
'''

[sinks.vector]
type = "vector"
inputs = ["parse_logs"]
address = "tcp://{{ clickhouse_host }}:6000"
