# Подключение к Vector на удаленном сервере по SSH
[sources.ssh_logs]
type = "vector"
mode = "ssh"
address = "lamer@nginx-lighthouse"
command = "vector --config /etc/vector/vector_remote.toml"
ssh_key_path = "/home/lamer/.ssh/vector_key"  # Указываем путь к приватному ключу
ssh_known_hosts = false  # Можно включить проверку known_hosts, если требуется

# Прием логов через сокет
[sources.remote_logs]
type = "socket"
address = "127.0.0.1:6000"

# Парсим логи
[transforms.parse_logs]
type = "remap"
inputs = ["remote_logs"]
source = '''
. = parse_json!(string!(.message))
'''

# Отправляем данные в ClickHouse
[sinks.clickhouse]
type = "clickhouse"
inputs = ["parse_logs"]
endpoint = "http://localhost:8123"
database = "logs"
table = "vector_logs"
compression = "gzip"
healthcheck = true
batch.max_bytes = 10485760
